.u-section-1 {
  background-image: url("https://img.freepik.com/free-photo/waffle-cones-near-ice-cream-balls-plate-scoop_23-2148107699.jpg?size=626&ext=jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 740px;
}

.u-section-1 .u-list-1 {
  width: 563px;
  min-height: 412px;
  grid-auto-rows: 100%;
  margin: 140px auto 0 577px;
}

.u-section-1 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 13.3333px);
  grid-template-columns: calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px);
  grid-auto-rows: calc(50% - 10px);
  grid-gap: 20px 20px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 55px 18px 30px 20px;
}

.u-section-1 .u-icon-1 {
  height: 48px;
  width: 48px;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-1 .u-text-1 {
  font-family: Lato, sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  margin: 16px 1px 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 55px 18px 30px 20px;
}

.u-section-1 .u-icon-2 {
  height: 48px;
  width: 48px;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  font-family: Lato, sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  margin: 16px 1px 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 55px 18px 30px 20px;
}

.u-section-1 .u-icon-3 {
  height: 48px;
  width: 48px;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  font-family: Lato, sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  margin: 16px 1px 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 55px 18px 30px 20px;
}

.u-section-1 .u-icon-4 {
  height: 48px;
  width: 48px;
  margin: 0 auto;
}

.u-section-1 .u-text-4 {
  font-family: Lato, sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  margin: 16px 1px 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 55px 18px 30px 20px;
}

.u-section-1 .u-icon-5 {
  height: 48px;
  width: 48px;
  margin: 0 auto;
}

.u-section-1 .u-text-5 {
  font-family: Lato, sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  margin: 16px 1px 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 55px 18px 30px 20px;
}

.u-section-1 .u-icon-6 {
  height: 48px;
  width: 48px;
  margin: 0 auto;
}

.u-section-1 .u-text-6 {
  font-family: Lato, sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  margin: 16px 1px 0;
}

.u-section-1 .u-text-7 {
  margin: 22px 0 60px 570px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 413px;
  }

  .u-section-1 .u-list-1 {
    min-height: 203px;
    height: auto;
    margin-left: 377px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 577px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 472px;
  }

  .u-section-1 .u-list-1 {
    width: 497px;
    min-height: 474px;
    margin-left: 157px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(50% - 10px);
    grid-template-columns: calc(50% - 10px) calc(50% - 10px);
    grid-auto-rows: calc(33.33% - 13.3333px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 30px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 30px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 30px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 30px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-top: 30px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-left: 250px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-list-1 {
    width: 438px;
    margin-left: 0;
    min-height: 412px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 20px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 20px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-3 {
    padding-right: 20px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-4 {
    padding-right: 20px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-5 {
    padding-right: 20px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-6 {
    padding-right: 20px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-left: 70px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    background-position: 36.88% 50%;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 717px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 60px 325px 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  margin: 20px 235px 0;
}

.u-section-2 .u-slider-1 {
  margin-top: 20px;
  margin-bottom: 60px;
  min-height: 453px;
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 55px;
}

.u-section-2 .u-gallery-1 {
  height: 354px;
  width: 904px;
  grid-gap: 10px;
  margin: 0 auto;
}

.u-section-2 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 10px;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-gallery-2 {
  height: 354px;
  width: 904px;
  grid-gap: 10px;
  margin: 0 auto;
}

.u-section-2 .u-gallery-inner-2 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 10px;
}

.u-section-2 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-carousel-control-1 {
  background-image: none;
  width: 55px;
  height: 55px;
}

.u-section-2 .u-carousel-control-2 {
  background-image: none;
  width: 55px;
  height: 55px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 688px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 225px;
    margin-right: 225px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 135px;
    margin-right: 135px;
  }

  .u-section-2 .u-slider-1 {
    height: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-2 .u-gallery-1 {
    height: 393px;
    grid-template-columns: repeat(3, auto);
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-2 .u-gallery-2 {
    height: 393px;
    grid-template-columns: repeat(3, auto);
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-left: 115px;
    margin-right: 115px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-2 .u-gallery-1 {
    height: 680px;
    grid-template-columns: repeat(2, auto);
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 65px;
  }

  .u-section-2 .u-gallery-2 {
    height: 680px;
    grid-template-columns: repeat(2, auto);
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-gallery-inner-2 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1991px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-gallery-1 {
    height: 1607px;
    grid-template-columns: repeat(1, auto);
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-gallery-2 {
    height: 1607px;
    grid-template-columns: repeat(1, auto);
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-gallery-inner-2 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1358px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 47px;
    margin-left: -17px;
    margin-right: -17px;
  }

  .u-section-2 .u-slider-1 {
    margin-bottom: 0;
  }

  .u-section-2 .u-gallery-1 {
    height: 989px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-gallery-2 {
    height: 989px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 646px;
}

.u-section-3 .u-tabs-1 {
  min-height: 578px;
  width: 1169px;
  margin: 60px -15px 8px;
}

.u-section-3 .u-tab-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-tab-link-1 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-3 .u-tab-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-tab-link-2 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-3 .u-tab-link-3 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-3 .u-tab-item-4 {
  margin-bottom: 0;
}

.u-section-3 .u-tab-link-4 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-3 .u-tab-pane-1 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 27px 30px 30px;
}

.u-section-3 .u-text-1 {
  text-transform: uppercase;
  margin: 0 699px 0 0;
}

.u-section-3 .u-line-1 {
  height: 3px;
  transform-origin: left center;
  margin: 10px auto 0 0;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  line-height: 39.6px;
  margin: 30px 3px 0 0;
}

.u-section-3 .u-text-3 {
  text-transform: uppercase;
  margin: 20px 951px 0 0;
}

.u-section-3 .u-line-2 {
  height: 3px;
  transform-origin: left center;
  margin: 10px auto 0 0;
}

.u-section-3 .u-image-1 {
  width: 416px;
  height: 242px;
  object-position: 50% 39.41%;
  margin: 30px auto 0 0;
}

.u-section-3 .u-tab-pane-2 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 0 30px;
}

.u-section-3 .u-text-4 {
  text-transform: uppercase;
  margin: 0;
}

.u-section-3 .u-line-3 {
  height: 3px;
  transform-origin: left center 0px;
  margin: 11px auto 0 0;
}

.u-section-3 .u-text-5 {
  line-height: 1.8;
  margin: -5px 0 0;
}

.u-section-3 .u-tab-pane-3 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-3 .u-text-6 {
  margin: 20px 971px 0 30px;
}

.u-section-3 .u-text-7 {
  margin: 0;
}

.u-section-3 .u-tab-pane-4 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-text-8 {
  line-height: 1.8;
  font-weight: 700;
  margin: 0 699px 0 0;
}

.u-section-3 .u-btn-1 {
  margin-left: 0;
  border-style: none none solid;
  margin-top: 20px;
  margin-bottom: 0;
  text-transform: none;
  letter-spacing: normal;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-tabs-1 {
    height: auto;
    width: 940px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-1 {
    margin-right: 470px;
  }

  .u-section-3 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 722px;
  }

  .u-section-3 .u-line-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    margin-right: 461px;
  }

  .u-section-3 .u-line-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-6 {
    margin-right: 772px;
  }

  .u-section-3 .u-text-8 {
    margin-right: 470px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-tabs-1 {
    width: 720px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 250px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 502px;
  }

  .u-section-3 .u-image-1 {
    margin-right: auto;
  }

  .u-section-3 .u-text-6 {
    margin-right: 552px;
  }

  .u-section-3 .u-text-8 {
    margin-right: 250px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-tabs-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 107px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 359px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 372px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-8 {
    margin-right: 110px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-tabs-1 {
    width: 340px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 159px;
  }

  .u-section-3 .u-image-1 {
    width: 320px;
    height: 186px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 172px;
  }

  .u-section-3 .u-text-8 {
    margin-right: 0;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 646px;
}

.u-section-4 .u-tabs-1 {
  min-height: 578px;
  width: 1169px;
  margin: 60px auto 8px -29px;
}

.u-section-4 .u-tab-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-tab-link-1 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-4 .u-tab-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-tab-link-2 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-4 .u-tab-link-3 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-4 .u-tab-item-4 {
  margin-bottom: 0;
}

.u-section-4 .u-tab-link-4 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-4 .u-tab-pane-1 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 27px 30px 30px;
}

.u-section-4 .u-text-1 {
  text-transform: uppercase;
  margin: 0 762px 0 3px;
}

.u-section-4 .u-line-1 {
  height: 3px;
  transform-origin: left center;
  margin: 10px auto 0 0;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  margin: 30px 0 0 3px;
}

.u-section-4 .u-text-3 {
  text-transform: uppercase;
  margin: 20px 951px 0 0;
}

.u-section-4 .u-line-2 {
  height: 3px;
  transform-origin: left center;
  margin: 10px auto 0 0;
}

.u-section-4 .u-image-1 {
  width: 441px;
  height: 242px;
  object-position: 50% 41.11%;
  margin: 30px auto 0 0;
}

.u-section-4 .u-tab-pane-2 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 0 0 28px;
}

.u-section-4 .u-text-4 {
  text-transform: uppercase;
  margin: 0;
}

.u-section-4 .u-line-3 {
  height: 3px;
  transform-origin: left center 0px;
  margin: 11px auto 0 0;
}

.u-section-4 .u-text-5 {
  line-height: 1.8;
  margin: -3px 0 -2px;
}

.u-section-4 .u-tab-pane-3 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-4 .u-text-6 {
  margin: 0 971px 0 30px;
}

.u-section-4 .u-text-7 {
  margin: 0;
}

.u-section-4 .u-tab-pane-4 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-text-8 {
  line-height: 1.8;
  font-weight: 700;
  margin: 0 699px 0 0;
}

.u-section-4 .u-btn-1 {
  margin-left: 0;
  border-style: none none solid;
  margin-top: 20px;
  margin-bottom: 0;
  text-transform: none;
  letter-spacing: normal;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-tabs-1 {
    height: auto;
    width: 940px;
    margin-left: 0;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 536px;
  }

  .u-section-4 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-2 {
    line-height: 39.6px;
    margin-left: 0;
  }

  .u-section-4 .u-text-3 {
    margin-right: 722px;
  }

  .u-section-4 .u-line-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-1 {
    margin-right: 461px;
  }

  .u-section-4 .u-line-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-6 {
    margin-right: 772px;
  }

  .u-section-4 .u-text-8 {
    margin-right: 470px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-tabs-1 {
    width: 720px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 316px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 502px;
  }

  .u-section-4 .u-image-1 {
    margin-right: auto;
  }

  .u-section-4 .u-text-6 {
    margin-right: 552px;
  }

  .u-section-4 .u-text-8 {
    margin-right: 250px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-tabs-1 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 173px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 359px;
  }

  .u-section-4 .u-text-6 {
    margin-right: 372px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-8 {
    margin-right: 110px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-tabs-1 {
    width: 340px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    margin-right: 159px;
  }

  .u-section-4 .u-image-1 {
    width: 320px;
    height: 176px;
  }

  .u-section-4 .u-text-6 {
    margin-right: 172px;
  }

  .u-section-4 .u-text-8 {
    margin-right: 0;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 646px;
}

.u-section-5 .u-tabs-1 {
  min-height: 578px;
  width: 1169px;
  margin: 60px auto 8px -29px;
}

.u-section-5 .u-tab-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-tab-link-1 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-5 .u-tab-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-tab-link-2 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-5 .u-tab-link-3 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-5 .u-tab-item-4 {
  margin-bottom: 0;
}

.u-section-5 .u-tab-link-4 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-5 .u-tab-pane-1 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 27px 30px 30px;
}

.u-section-5 .u-text-1 {
  text-transform: uppercase;
  margin: 0 726px 0 6px;
}

.u-section-5 .u-line-1 {
  height: 3px;
  transform-origin: left center;
  margin: 10px auto 0 0;
}

.u-section-5 .u-text-2 {
  font-weight: 700;
  margin: 30px 0 0 3px;
}

.u-section-5 .u-text-3 {
  text-transform: uppercase;
  margin: 20px 951px 0 0;
}

.u-section-5 .u-line-2 {
  height: 3px;
  transform-origin: left center;
  margin: 10px auto 0 0;
}

.u-section-5 .u-image-1 {
  width: 441px;
  height: 242px;
  margin: 30px auto 0 0;
}

.u-section-5 .u-tab-pane-2 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 0 0 25px;
}

.u-section-5 .u-text-4 {
  text-transform: uppercase;
  margin: 0;
}

.u-section-5 .u-line-3 {
  height: 3px;
  transform-origin: left center 0px;
  margin: 11px auto 0 0;
}

.u-section-5 .u-text-5 {
  line-height: 1.8;
  margin: 0 -11px -5px 11px;
}

.u-section-5 .u-tab-pane-3 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-5 .u-text-6 {
  margin: 0 971px 0 30px;
}

.u-section-5 .u-text-7 {
  margin: 8px 0 0 16px;
}

.u-section-5 .u-tab-pane-4 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

.u-section-5 .u-text-8 {
  line-height: 1.8;
  font-weight: 700;
  margin: 0 699px 0 0;
}

.u-section-5 .u-btn-1 {
  margin-left: 0;
  border-style: none none solid;
  margin-top: 20px;
  margin-bottom: 0;
  text-transform: none;
  letter-spacing: normal;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-tabs-1 {
    height: auto;
    width: 940px;
    margin-left: 0;
  }

  .u-section-5 .u-text-1 {
    margin-left: 0;
    margin-right: 503px;
  }

  .u-section-5 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-2 {
    line-height: 39.6px;
    margin-left: 0;
  }

  .u-section-5 .u-text-3 {
    margin-right: 722px;
  }

  .u-section-5 .u-line-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-1 {
    margin-right: 461px;
  }

  .u-section-5 .u-line-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-6 {
    margin-right: 772px;
  }

  .u-section-5 .u-text-7 {
    margin-left: 0;
  }

  .u-section-5 .u-text-8 {
    margin-right: 470px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-tabs-1 {
    width: 720px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 283px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 502px;
  }

  .u-section-5 .u-image-1 {
    margin-right: auto;
  }

  .u-section-5 .u-text-6 {
    margin-right: 552px;
  }

  .u-section-5 .u-text-8 {
    margin-right: 250px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-tabs-1 {
    width: 540px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 140px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 359px;
  }

  .u-section-5 .u-text-6 {
    margin-right: 372px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-8 {
    margin-right: 110px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-tabs-1 {
    width: 340px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 0;
  }

  .u-section-5 .u-text-3 {
    margin-right: 159px;
  }

  .u-section-5 .u-image-1 {
    width: 320px;
    height: 176px;
  }

  .u-section-5 .u-text-6 {
    margin-right: 172px;
  }

  .u-section-5 .u-text-8 {
    margin-right: 0;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 646px;
}

.u-section-6 .u-tabs-1 {
  min-height: 578px;
  width: 1169px;
  margin: 60px auto 8px -29px;
}

.u-section-6 .u-tab-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-tab-link-1 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-6 .u-tab-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-tab-link-2 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-6 .u-tab-link-3 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-6 .u-tab-item-4 {
  margin-bottom: 0;
}

.u-section-6 .u-tab-link-4 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-6 .u-tab-pane-1 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 27px 30px 30px;
}

.u-section-6 .u-text-1 {
  text-transform: uppercase;
  margin: 0 810px 0 3px;
}

.u-section-6 .u-line-1 {
  height: 3px;
  transform-origin: left center;
  margin: 10px auto 0 0;
}

.u-section-6 .u-text-2 {
  font-weight: 400;
  font-family: Aclonica;
  margin: 23px 892px 0 20px;
}

.u-section-6 .u-text-3 {
  text-transform: uppercase;
  margin: 17px 951px 0 0;
}

.u-section-6 .u-line-2 {
  height: 3px;
  transform-origin: left center;
  margin: 10px auto 0 0;
}

.u-section-6 .u-image-1 {
  width: 441px;
  height: 242px;
  margin: 30px auto 0 0;
}

.u-section-6 .u-tab-pane-2 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-container-layout-2 {
  padding: 0 0 30px;
}

.u-section-6 .u-text-4 {
  text-transform: uppercase;
  margin: 0;
}

.u-section-6 .u-line-3 {
  height: 3px;
  transform-origin: left center 0px;
  margin: 11px auto 0 0;
}

.u-section-6 .u-text-5 {
  line-height: 1.8;
  margin: -5px 0 0;
}

.u-section-6 .u-tab-pane-3 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-6 .u-text-6 {
  margin: 0 971px 0 30px;
}

.u-section-6 .u-text-7 {
  margin: 0;
}

.u-section-6 .u-tab-pane-4 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-container-layout-4 {
  padding: 30px;
}

.u-section-6 .u-text-8 {
  line-height: 1.8;
  font-weight: 700;
  margin: 0 699px 0 0;
}

.u-section-6 .u-btn-1 {
  margin-left: 0;
  border-style: none none solid;
  margin-top: 20px;
  margin-bottom: 0;
  text-transform: none;
  letter-spacing: normal;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-tabs-1 {
    height: auto;
    width: 940px;
    margin-left: 0;
  }

  .u-section-6 .u-text-1 {
    margin-left: 0;
    margin-right: 584px;
  }

  .u-section-6 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-2 {
    margin-right: 683px;
    margin-left: 0;
  }

  .u-section-6 .u-text-3 {
    margin-right: 722px;
  }

  .u-section-6 .u-line-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-1 {
    margin-right: 461px;
  }

  .u-section-6 .u-line-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-6 {
    margin-right: 772px;
  }

  .u-section-6 .u-text-8 {
    margin-right: 470px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-tabs-1 {
    width: 720px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 364px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 463px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 502px;
  }

  .u-section-6 .u-image-1 {
    margin-right: auto;
  }

  .u-section-6 .u-text-6 {
    margin-right: 552px;
  }

  .u-section-6 .u-text-8 {
    margin-right: 250px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-tabs-1 {
    width: 540px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 221px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 320px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 359px;
  }

  .u-section-6 .u-text-6 {
    margin-right: 372px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-8 {
    margin-right: 110px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-tabs-1 {
    width: 340px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 21px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 120px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 159px;
  }

  .u-section-6 .u-image-1 {
    width: 320px;
    height: 176px;
  }

  .u-section-6 .u-text-6 {
    margin-right: 172px;
  }

  .u-section-6 .u-text-8 {
    margin-right: 0;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 646px;
}

.u-section-7 .u-tabs-1 {
  min-height: 578px;
  width: 1169px;
  margin: 60px auto 8px -29px;
}

.u-section-7 .u-tab-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-tab-link-1 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-7 .u-tab-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-tab-link-2 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-7 .u-tab-link-3 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-7 .u-tab-item-4 {
  margin-bottom: 0;
}

.u-section-7 .u-tab-link-4 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-7 .u-tab-pane-1 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 27px 30px 30px;
}

.u-section-7 .u-text-1 {
  text-transform: uppercase;
  margin: 0 824px 0 3px;
}

.u-section-7 .u-line-1 {
  height: 3px;
  transform-origin: left center;
  margin: 10px auto 0 0;
}

.u-section-7 .u-text-2 {
  font-weight: 700;
  line-height: 36px;
  margin: 30px 0 0 3px;
}

.u-section-7 .u-text-3 {
  text-transform: uppercase;
  margin: 20px 951px 0 0;
}

.u-section-7 .u-line-2 {
  height: 3px;
  transform-origin: left center;
  margin: 10px auto 0 0;
}

.u-section-7 .u-image-1 {
  width: 441px;
  height: 242px;
  object-position: 50% 82.79%;
  margin: 21px auto 0 0;
}

.u-section-7 .u-tab-pane-2 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-container-layout-2 {
  padding: 0 0 30px;
}

.u-section-7 .u-text-4 {
  text-transform: uppercase;
  margin: 0;
}

.u-section-7 .u-line-3 {
  height: 3px;
  transform-origin: left center 0px;
  margin: 11px auto 0 0;
}

.u-section-7 .u-text-5 {
  line-height: 1.8;
  margin: -5px 0 0 21px;
}

.u-section-7 .u-tab-pane-3 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-7 .u-text-6 {
  margin: 0 971px 0 30px;
}

.u-section-7 .u-text-7 {
  margin: 20px -15px 0 30px;
}

.u-section-7 .u-tab-pane-4 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-container-layout-4 {
  padding: 30px;
}

.u-section-7 .u-text-8 {
  line-height: 1.8;
  font-weight: 700;
  margin: 0 699px 0 0;
}

.u-section-7 .u-btn-1 {
  margin-left: 0;
  border-style: none none solid;
  margin-top: 20px;
  margin-bottom: 0;
  text-transform: none;
  letter-spacing: normal;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-tabs-1 {
    height: auto;
    width: 940px;
    margin-left: 0;
  }

  .u-section-7 .u-text-1 {
    margin-left: 0;
    margin-right: 598px;
  }

  .u-section-7 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-text-2 {
    margin-left: 0;
  }

  .u-section-7 .u-text-3 {
    margin-right: 722px;
  }

  .u-section-7 .u-line-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-1 {
    margin-right: 461px;
  }

  .u-section-7 .u-line-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-text-5 {
    margin-left: 0;
  }

  .u-section-7 .u-text-6 {
    margin-right: 772px;
  }

  .u-section-7 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-8 {
    margin-right: 470px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-tabs-1 {
    width: 720px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 378px;
  }

  .u-section-7 .u-text-3 {
    margin-right: 502px;
  }

  .u-section-7 .u-image-1 {
    margin-right: auto;
  }

  .u-section-7 .u-text-6 {
    margin-right: 552px;
  }

  .u-section-7 .u-text-8 {
    margin-right: 250px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-tabs-1 {
    width: 540px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 235px;
  }

  .u-section-7 .u-text-3 {
    margin-right: 359px;
  }

  .u-section-7 .u-text-6 {
    margin-right: 372px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-text-8 {
    margin-right: 110px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-tabs-1 {
    width: 340px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 35px;
  }

  .u-section-7 .u-text-3 {
    margin-right: 159px;
  }

  .u-section-7 .u-image-1 {
    width: 320px;
    height: 176px;
  }

  .u-section-7 .u-text-6 {
    margin-right: 172px;
  }

  .u-section-7 .u-text-8 {
    margin-right: 0;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 646px;
}

.u-section-8 .u-tabs-1 {
  min-height: 578px;
  width: 1169px;
  margin: 60px auto 8px -29px;
}

.u-section-8 .u-tab-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-8 .u-tab-link-1 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-8 .u-tab-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-8 .u-tab-link-2 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-8 .u-tab-link-3 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-8 .u-tab-item-4 {
  margin-bottom: 0;
}

.u-section-8 .u-tab-link-4 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-8 .u-tab-pane-1 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px 27px 30px 30px;
}

.u-section-8 .u-text-1 {
  text-transform: uppercase;
  margin: 0 809px 0 6px;
}

.u-section-8 .u-line-1 {
  height: 3px;
  transform-origin: left center;
  margin: 10px auto 0 0;
}

.u-section-8 .u-text-2 {
  font-weight: 700;
  margin: 30px 0 0 3px;
}

.u-section-8 .u-text-3 {
  text-transform: uppercase;
  margin: 20px 951px 0 0;
}

.u-section-8 .u-line-2 {
  height: 3px;
  transform-origin: left center;
  margin: 10px auto 0 0;
}

.u-section-8 .u-image-1 {
  width: 441px;
  height: 242px;
  margin: 30px auto 0 0;
}

.u-section-8 .u-tab-pane-2 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-8 .u-container-layout-2 {
  padding: 0 0 30px;
}

.u-section-8 .u-text-4 {
  text-transform: uppercase;
  margin: 0;
}

.u-section-8 .u-line-3 {
  height: 3px;
  transform-origin: left center 0px;
  margin: 11px auto 0 0;
}

.u-section-8 .u-text-5 {
  line-height: 1.8;
  margin: -5px 0 0;
}

.u-section-8 .u-tab-pane-3 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-8 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-8 .u-text-6 {
  margin: 0 971px 0 30px;
}

.u-section-8 .u-text-7 {
  margin: 0;
}

.u-section-8 .u-tab-pane-4 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-8 .u-container-layout-4 {
  padding: 30px;
}

.u-section-8 .u-text-8 {
  line-height: 1.8;
  font-weight: 700;
  margin: 0 699px 0 0;
}

.u-section-8 .u-btn-1 {
  margin-left: 0;
  border-style: none none solid;
  margin-top: 20px;
  margin-bottom: 0;
  text-transform: none;
  letter-spacing: normal;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-tabs-1 {
    height: auto;
    width: 940px;
    margin-left: 0;
  }

  .u-section-8 .u-text-1 {
    margin-left: 0;
    margin-right: 586px;
  }

  .u-section-8 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-text-2 {
    line-height: 39.6px;
    margin-left: 0;
  }

  .u-section-8 .u-text-3 {
    margin-right: 722px;
  }

  .u-section-8 .u-line-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-image-1 {
    margin-right: 461px;
  }

  .u-section-8 .u-line-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-text-6 {
    margin-right: 772px;
  }

  .u-section-8 .u-text-8 {
    margin-right: 470px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-tabs-1 {
    width: 720px;
  }

  .u-section-8 .u-text-1 {
    margin-right: 366px;
  }

  .u-section-8 .u-text-3 {
    margin-right: 502px;
  }

  .u-section-8 .u-image-1 {
    margin-right: auto;
  }

  .u-section-8 .u-text-6 {
    margin-right: 552px;
  }

  .u-section-8 .u-text-8 {
    margin-right: 250px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-tabs-1 {
    width: 540px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-text-1 {
    margin-right: 223px;
  }

  .u-section-8 .u-text-3 {
    margin-right: 359px;
  }

  .u-section-8 .u-text-6 {
    margin-right: 372px;
  }

  .u-section-8 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-text-8 {
    margin-right: 110px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-tabs-1 {
    width: 340px;
  }

  .u-section-8 .u-text-1 {
    margin-right: 23px;
  }

  .u-section-8 .u-text-3 {
    margin-right: 159px;
  }

  .u-section-8 .u-image-1 {
    width: 320px;
    height: 176px;
  }

  .u-section-8 .u-text-6 {
    margin-right: 172px;
  }

  .u-section-8 .u-text-8 {
    margin-right: 0;
  }
}.u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 324px;
}

.u-section-9 .u-text-1 {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2;
  width: 888px;
  margin: 6px auto 0;
}

.u-section-9 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  margin: 30px auto 6px;
}

.u-section-9 .u-icon-1 {
  height: 100%;
}

.u-section-9 .u-icon-2 {
  height: 100%;
}

.u-section-9 .u-icon-3 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-9 .u-text-1 {
    margin-left: 26px;
    margin-right: 26px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-text-1 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 418px;
  }

  .u-section-9 .u-text-1 {
    width: 540px;
    margin-top: 53px;
  }

  .u-section-9 .u-social-icons-1 {
    margin-bottom: 53px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-text-1 {
    font-size: 1.125rem;
    width: 340px;
  }
}